
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
/* .Header {
  background-color: #282c34;
  
  display: flex;
  width: 100%;
  height: 70px;
  /* border: 1px solid rgb(110, 109, 10); */
  /* align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 247, 247) ;
} */
/* .nav-items {
  /* border: 1px solid; */

.signup-box {
  margin-top: 10px;
  border: none;
  display: block;
  width: 400px ;
  height: 600px ;
  justify-content: space-around;
  padding-left: 2.5%;
  position: absolute;
  left: 35%;
  
}
.fa-fa-signin{
  height: 30px ;
  width: 350px;
  border: 1px solid;
  margin-top: 10px;
  color: black;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  
}
.fa-fa-signin:hover {
  background-color: rgb(241, 241, 241);
}
.signup-input{
  height: 50px ;
  width: 355px;
  margin-top: 10px;
  font-weight: bold;
  padding-left: 10px;
  color: black;
 
}
.login-head {
  font-weight: bold;
}
.signin-button{
  height: 50px ;
  width: 373px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(167, 39, 167);
  border: none;
 
}
.signin-button:hover {
  background-color: rgb(141, 24, 141);
}
.f-password{
  margin-left: 100px;
}
.f-class {
  margin-top: 35px;
  margin-left: 60px;
}
.a-purple{
  color: rgb(134, 38, 134);
   font-weight: bold;
}
.a-purple:hover {
  color: rgb(107, 22, 107);
 
}


.Header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
}
.udemy-logo {
  margin-left: 5px;
}
.header-image {
  display: block;
}
.header-input {
  width: 700px;
  margin-left: 50px;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
}
.search-input {
  padding-left: 20px;
  font-size: 15px;
  width: 550px;
  height: 50px;
  border-radius: 24px;
  border: 1px solid;
  background-color: rgba(168, 168, 168, 0.2);
}
.boxes {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-right: 10px;
  
}
.boxes .signin {
  border: 1px solid;
  width: 80px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  margin-left: 10px;
}
.boxes .signin.dark {
  background-color: black;
  color: white;
  height: 43px;
}
.boxes .signin.box {
  width: 40px;
}
.nav-text {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin-left: 25px;
  color: black;
  margin-right: 10px;
}
.header-input .nav-text.one {
  margin-right: 10px;
  position: relative;
}
.first-section {
  display: flex;
  width: 100%;
  align-items:center;
  justify-content:center;
  margin-top: 70px;

}
.first-section .begining-box {
  position: absolute;
  margin-top: -10%;
  width: 400px;
  height: 120px;
  padding-left: 15px;
  margin-right: 50%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.first-section .begining-box .span1 {
  font-size: 30px;
  font-weight: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
}
.first-section .main-svg .begining-image {
  width: 100%;
  
}
@media screen and (max-width: 1069px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 500px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
  }
  .nav-text.two {
    display: none;
  }
  .nav-text.three {
    margin-right: 5px;
  }
}
@media screen and (max-width: 1374px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 500px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
  }
  
  .nav-text.three {
    margin-right: 5px;
  }
}
@media screen and (max-width: 1204px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 400px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 550px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    
  }
 
  
}
@media screen and (max-width: 1144px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 550px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    
  }
 
  
}



@media screen and (max-width: 950px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 250px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 500px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    
    
  }
 
  
}
@media screen and (max-width: 770px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 250px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 500px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    
    
  }

  .nav-text.three {
    display: none;
  }
  .udemy-logo {
    margin-left: 10px;
  }
  .first-section .begining-box {
    position: absolute;
    margin-top: -10%;
    width: 400px;
    height: 120px;
    padding-left: 15px;
    display: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    margin-left: 10px;
  }
  
}
@media screen and (max-width: 850px){
  .search-input {
    padding-left: 20px;
    font-size: 15px;
    width: 250px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid;
    background-color: rgba(168, 168, 168, 0.2);
  }
  .header-input {
    width: 500px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    
    
  }

  .nav-text.three {
    display: none;
  }
  
}
.second-section {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  
  padding:2px;
  margin:0 auto;
  justify-content: space-around;
 
}
.second-section .span2 {
  font-size: 35px;
  font-weight: 800;
}
.second-section .span3 {
  padding-top: 10px;
  font-size: 23px;
}
.second-section .mini-nav {
  margin-top: 10px;
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-section .mini-nav .mini-element {
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.second-section .mini-nav .mini-element:hover {
  color: black;
}
.ss-div {
 
  margin: 0 auto;
  width: 83%;

}
/* .thirdsection{
  
} */
.box1 {
  border: 1px solid rgb(146, 146, 146);
  
  width: 83%;
  margin: 0 auto;
  padding: 20px;
  height: 500px;
}
.span4{
  font-size: 30px;
  font-weight: bold;
}
.span5{
 padding-top: 5px;
}
.trd-btn {
  margin-top: 10px;
  border: 1px solid;
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.trd-btn:hover {
  background-color: aliceblue;
}
.scrowmenu{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  flex-wrap: wrap;
  
}
.scrowimg {
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  width: 240px;
  height: 140px;
}
.breackthrough-nav {
  margin-top: 5%;
  width: 100%;
  height: 70px;
 
 padding-top: 15px;
  background-color: rgb(245, 245, 247);
}
.bt-body {
 
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 83%;
 margin: 0 auto;
 
}
.bt-item{
  display: flex;
  
}
.boldp {
  font-size: 17px;
  font-weight: bold;
}
.lilp {
  font-size: 12px;
}
.rounding-items {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  padding-left: 12px;
  border-radius: 50px;
  background-color: rgb(194, 194, 202);
}
.rounding-items-1 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-left: 17px;
  border-radius: 50px;
  background-color: rgb(194, 194, 202);
}
.text-oga {
  background-color: rgb(243, 243, 243);
  margin-top: 5%;
  padding-top: 5%;
  height: 550px;
}
.image-box-text{
  font-size: 20px;
  font-weight: bold;
}
.someofthem {
 
  margin: 0 auto;
  width: 83%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.imagebox-son {
  margin-top: 20px;
  
}
.text-101 {
  font-size: 15px;
  font-weight: bold;
}
.image-box-div {
  
  margin: 0 auto;
  width: 83%;
  margin-top: 20px;
  
}
.text-mini-oga {
  margin: 0 auto;
  width: 83%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.ogaofsection {
  font-size: 20px;
  font-weight: bold;
}
.oneofthemboys{
  margin-top: 30px;
  
}
.thecoloredtext{
  font-size: 16px;
  text-decoration: underline;
  color: rgb(121, 23, 121);
  font-weight: 700;
  padding-bottom: 5px;
}
.numberofstd{
  font-size: small;
  color: rgb(90, 87, 87);
}
.my-oga {
  
  font-size: 25px;
  font-weight: bold;
}
.my-oga-oga {
  margin: 0 auto;
  width: 83%;
  margin-top: 20px;
}
.btn-border{
  margin: 0 auto;
  width: 83%;
  margin-top: 20px;
}
.trd-btn-1{
  margin-top: 10px;
  border: 1px solid;
  width: 170px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color:rgb(243, 243, 243) ;
  cursor: pointer;
}
.trd-btn-1:hover {
  background-color: rgb(219, 222, 224);
}
.thecoloredtext:hover {
  font-size: 16px;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-bottom: 5px;
  cursor: pointer;
  
}
.imagebox101{
  width: 400px;
  height: 400px;
}
.lilsmiz {
  font-size: 17px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.oga-box {
  margin-top: 10px;
  width: 170px;
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(12, 12, 12);
  border: none;
 

}
.seefinish {
  margin: 0 auto;
  width: 60%;
  justify-content: space-around;
  display: flex;
}
.ojiji {
 
 justify-content: center;
 padding-top: 10%;
}
.james-brown{
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}